body {
    margin: 0;
    padding: 0;
    background-color: #f4f3ef;
    color: #1f2933;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
