<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавяне на книга</title>
   

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/add-book.css}">
</head>
<body>
    <!-- Navbar -->
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    



    <div class="form-container">
        <h2>Добавяне на книга</h2>
        <form th:action="@{/books/add}" th:method="post" th:object="${book}">
        
    <input type="hidden" th:field="*{id}" />

    <input type="text"
           th:field="*{title}"
           placeholder="Title" required />

    <input type="text"
           th:field="*{author}"
           placeholder="Author" required />

    <textarea th:field="*{description}"
              placeholder="Description" rows = "10" required></textarea>

    <input type="text"
           th:field="*{imageUrl}"
           th:value="*{imageUrl}"
           placeholder="Image URL" required />

    <button type="submit">Add book</button>
</form>
        
    </div>
</body>
</html>
