<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | MyBooks</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Inter&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<!-- Navbar -->
<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>


<div class="register-container">
    <div class="register-card">

        <h2>Регистрация</h2>

        <form th:action="@{/register}" method="post">

            <input type="text"
                   name="name"
                   placeholder="Потребителско име"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Имейл"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Парола"
                   required>

            <button type="submit">Регистрация</button>

        </form>

    </div>
</div>

</body>
</html>
